
<div class="col-md-12">
    <div class="jumbotron">
        <h1>Time Tracker</h1>
        <h2>Track your time with the best time tracker on the market.</h2><br>
        <%= link_to "Create Account", new_account_path, class: 'btn btn-primary btn-lg' %>

    </div>
</div>